*{
    box-sizing: border-box;
    color:seashell;
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    opacity:0.9;
}
body{
    background-color: black;
}
header li{
    list-style:none;
    display:inline-block;
    font-size: 16px;
    margin:9px;
    text-decoration: underline;
    cursor: pointer;
}
header{
    display:flex;
    justify-content:space-between;
    padding:9px;
    max-height:auto;
    position:sticky;
    margin-top: 15px;
    margin-left:10px;
}
#logo{
    width:20%;
}
.OurMission{
    display:flex;
    justify-content: center;
}
.background{
    width:1200px;
    height:700px;
    background-image:url('img/img-mission-background.webp');
    display:flex;
    align-items:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    width:90%;
   
}
.text{
    background-color: black;
    width:100%;
    padding:20px;
    text-align:center;
}
  
.tea-item2 img{
    height:200px;
    width:300px;
}
.tea{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:auto;
    width:85%;
}
.tea-item1{
    text-align:center;
    margin-bottom: 20px;
    margin-top:30px;
}
.tea-item1 h2{
    padding:10px;
}
.tea-item2{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:15px; 
}
.img{
    text-align: center;
}
.locations{
    display:flex;
    justify-content:center;
    height:500px;
    
   
}
.bg{
    background-image:url('img/img-locations-background.webp');
    width:100%;
    height:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:40px;
    background-position:center;
    background-repeat: no-repeat;
    

}
@media screen and (max-width:640px){
    .bg{
        flex-direction:column;
    }
    .locations{
        height:auto;
    }
    .copy{
        font-size:0.01rem;
    } 
    *{
        font-size: 15px;
    }

}


@media screen and (max-width:460px){
   header{
        flex-direction: column;
        align-items: center;
        gap:15px;
    } 
   #logo{
       width:100px;
   }
}


.loc-item{
    background-color: black;
    margin: 20px;;
    width:300px;
    height:auto;
    padding:1%;
    text-align:center;
    opacity: 1;
    
}
.loc-item p{
    padding:9px;
}
.loc-item h3{
    padding-bottom: 20px;
}
footer{
    margin-top:25px;
    margin-bottom: 30px;
    text-align: center;
}
footer h5{
    padding: 15px;
}
.copy{
    text-align:left;
    margin-left:15px;
    font-size:0.85rem;
}
